# virtual envs
.venv/
.venvs/
env/
venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/

# tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# editors/OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.sample
